	
	@import "../include/config";
		
	.in_evidenza_content:hover,
	.box_header:hover { background: rgba(0,0,0,0); }
	
	.offer_spot:hover { opacity: 0.80;}
	.offer_spot:hover a.offer_button{  right:calc($pad / 4);  }