#covid {
    margin-top: 0 !important;
}

#search_first {

    /* color:#fff;  */
    background: #FF9326;
    padding: 10px;
    margin: 52px 2px 0;

}

#search_first h1 {
    color: #fff;
    opacity: 0.7;
}

#search_first_white {
    background: #fff;
    padding-bottom: 2px;
}

#search_first_white #search_first {
    margin: 55px 2px 0;
}

.header-fix #search_first_short {   
    margin-top:138px;
}

.header-fix #search_first_white #search_first {
    margin: 127px 2px 0;
}

#testo-top-2 {
    text-align: center;
    font-size: 24px;
    color: #fff;
}

#search_first_white #search_first #testo-top-2 {
    margin: 0 0 10px;
    font-size: 16px;
}


#search_first_short {
    margin-top: 58px;
    background-color: #fff;
    padding: 15px 15px 0;
  
}

#search_first_short .inside {
    padding: 12px 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -1px;
    color:#fff;
    background: #F29327;
    border: 1px solid #F29327;
    border-bottom: 1px solid #fff;
    border-collapse: collapse;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

#search_first_short .inside.bottom {
    padding: 7px 15px;
    font-size: 14px;
    color:#222;
    background: #fff;
    border: 1px solid #F29327;
    border-top: 1px solid #fff;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    
}