	
	h1,	h2 {margin:0; font-weight:normal; color: #FFF;text-transform: uppercase; text-align: center;}
	h2,
	div.h3 { margin:5px -17px 0; padding:0; font-weight:normal; text-align:center; color: #FFF; font-size: 20px;  }
	div.h3 {  font-size: 16px;letter-spacing: -.02em; background:rgba(0,0,0,0.5); padding:5px;}
	
	#mail_multipla_mobile { display:block; margin:50px 0px 0px;   }
	#mail_multipla_mobile>div { padding: 0px 17px 0; }
	 
	.rating { font-size: 12px; position:relative; top:-5px; display: inline-block; vertical-align: middle; }

	.daterange { width:90%; }
	.daterange.right { float:right; }

	.offerta { padding:0 10px 5px; font-size: 14px;  }
	.offerta .badge { margin:0px 10px 0px 0px; font-size: 12px; background: #0064d4; color:#fff; padding:4px 8px;  
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}
	
	.offerta .badge.ot { background: #0064d4; } 
	.offerta .badge.lm { background: #f54949; }
	.offerta .badge.bg { background: #35a6e8; }
	
	.privacy-checkbox { text-align:left; margin:0;  }
	.privacy-checkbox label {position: relative;  background:transparent;  border:none; text-transform: none; font-size: 16px;}
	.privacy-checkbox label a { text-decoration: underline; }
	.privacy-checkbox label span { display: inline-block; margin-left: 10px; width:80%; /*position: relative; top:-6px*/  }
	
	.meal_plan_input { padding:10px; background: url(//static.info-alberghi.com/images/arrow_select_reverse.png) calc(100% - 2px) center no-repeat transparent; }
	
	.select_multiline .options_multiline { display: none; padding-bottom:15px;  }
	.select_multiline .options_multiline label { display: block; font-size:16px; text-transform: none;}
	.select_multiline.open .options_multiline { display: block; }
		
	@media (min-width: 500px) {
		.col-xs-12.to-2-col { width:50%; float:left; }
	}

	.chiusoTemp {
		display: block;
		background: #f44336;
		color: #fff;
		text-transform: uppercase;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		font-size: 12px;
		padding: 10px;
		margin: -10px;
		font-weight: bold;
		text-align:center;
	}