body,
html {
    overflow-x: hidden;
    width: 100%;
}

body,
p,
div,
input,
select,
textarea,
var {
    font-family: Roboto, sans-serif;
}

.clear {
    clear: both;
}

/* .tover {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
} */

var,
figure {
    padding: 0;
    margin: 0;
    font-style: normal;
}

.hidden {
    display: none !important;
}


/* Link */

a {
    text-decoration: none;
}

hr {
    background: none;
    border: none;
    outline: none;
    height: 1;
    border-top: 1px solid #fff;
}


/* Header */

.logomobile {
    display: inline-block;
   
}
.logomobile img {
    height:20px;
}

#tab-bar {
    background: #333;
    padding: 13px 0 14px 0px;
    text-align: center;
    border:2px solid #fff;
}

#tab-bar img {
    vertical-align: middle;
}

#testo-top {
    display: none;
}

#testo-top.home {
    margin-top: 10px;
    padding: 0px 0 10px;
    display: block;
}

#testo-top h1 {
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #006699;
    text-align: center;
}

#changeLanguageButton {
    position: absolute;
    top: 14px;
    right: 62px;
}

.page-home #changeLanguageButton {
    position: absolute;
    top: 14px;
    right: 15px;
}

#changeLanguageButton img {
    vertical-align: middle;
}

#changeLanguageButton i {
    position: relative;
    top: 1px;
    left: 5px;
    display: inline-block;
    font-size: 12px;
    color: #fff !important;
}

.backbutton {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1001;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;
}

.menubutton {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    z-index: 1001;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;
}

.backbutton img,
.menubutton img {
    margin: -5px;
}

.badge {
    color: #fff;
    background: #666;
    display: inline-block;
    font-size: 10px;
    padding: 3px 4px;
    margin-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.badge span {
    position: relative;
    background: #ddd;
    color: #222;
    display: block;
    margin: -3px 4px -3px -4px;
    float: left;
    padding: 3px 4px;
    margin-right: 8px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.badge span:after {
    position: absolute;
    top: 0;
    right: -5px;
    content: " ";
    display: block;
    border-style: solid;
    border-color: #ddd transparent transparent transparent;
    border-width: 18px 5px 0 0;
}

.badge.red {
    background: #f54949;
}

.home_1:before {
    background: #000 url(//static.info-alberghi.com/mobile/home/rimini.jpg) no-repeat center center;
}

.home_2:before {
    background: #000 url(//static.info-alberghi.com/mobile/home/riccione.jpg) no-repeat center center;
}

.home_3:before {
    background: #000 url(//static.info-alberghi.com/mobile/home/cesenatico.jpg) no-repeat center center;
}

.home_4:before {
    background: #000 url(//static.info-alberghi.com/mobile/home/cattolica.jpg) no-repeat center center;
}

.home_5:before {
    background: #000 url(//static.info-alberghi.com/mobile/home/milanomarittima.jpg) no-repeat center center;
}

.home_6:before {
    background: #000 url(//static.info-alberghi.com/mobile/home/bellaria.jpg) no-repeat center center;
}

.home_7:before {
    background: #000 url(//static.info-alberghi.com/mobile/home/cervia.jpg) no-repeat center center;
}

.home_8:before {
    background: #000 url(//static.info-alberghi.com/mobile/home/misano.jpg) no-repeat center center;
}

.home_9:before {
    background: #000 url(//static.info-alberghi.com/mobile/home/gabicce.jpg) no-repeat center center;
}

.home_10:before {
    background: #000 url(//static.info-alberghi.com/mobile/home/ravenna.jpg) no-repeat center center;
}

.igeamarina:before {
    background: #000 url(//static.info-alberghi.com/mobile/home/igea.jpg) no-repeat center center;
}

.rivieraromagnola:before {
    background: #000 url(//static.info-alberghi.com/mobile/home/riviera.jpg) no-repeat center center;
}


/* Cookie banner */

.eucookielaw-banner {
    margin: 0px;
    padding: 30px 30px 70px;
    background: #222;
    color: #fff;
    z-index: 1000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    line-height: 18px;
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

#eucookielaw-background {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.2) url("//static.info-alberghi.com/images/pellicola.png");
    display: block;
}


/*.page-listing .eucookielaw-banner {
    margin-top: 130px;
    margin-bottom: -96px;
    padding-bottom: 60px
}*/

.page-scheda.info .eucookielaw-banner {
    margin-bottom: -30px;
}

.eucookielaw-banner .banner-title {
    display: none;
}

.eucookielaw-banner .btn {
    padding: 7px 20px;
    display: inline-block;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;
}

.eucookielaw-banner .btn-danger {
    color: #fff;
}

.eucookielaw-banner .btn-primary {
    background: #639a48;
    margin: 15px 0 0;
}

.disagree-button {
    display: block;
    text-decoration: underline;
    position: absolute;
    bottom: 30px;
    left: 30px;
}


/* FIX per cookie banner da mobile */

.disagree-button.btn-danger.informativa {
    bottom: 15px;
}

.separatore-bottoni {
    display: none;
}

.disagree-button {
    bottom: 48px;
}

.eucookielaw-banner .btn-primary {
    margin: 5px 0 0;
}


/* Menu e pagina */

.order_select {
    display: none;
}

.page {
    position: relative;
    left: 0;
    background: #E0E0E0;
    z-index: 3;
}

#menu-mobile {
    position: fixed;
    top: 0px;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}


/* Alert */

.alert {
    width: 100%;
    padding: 15px 15px 15px 105px;
    position: relative;
    background: #fff;
    border: 1px solid #f54949;
    color: #f54949;
}

.alert ul,
.alert li {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 18px;
    font-size: 12px;
}

.alert li {
    list-style: square;
}

.alert img {
    position: absolute;
    top: -7px;
    left: 15px;
    width: 50px;
    height: auto;
    background: #f54949;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.alert p {
    padding: 0;
    margin: 0 0 5px -15px;
    font-size: 14px;
}

.alert a {
    position: absolute;
    top: -7px;
    right: 7px;
    padding: 5px 10px;
    color: #666;
    background: #fff;
}

.warning {
    width: 100%;
    padding: 10px;
    position: relative;
    background: #fff;
    border: 1px solid #f54949;
    color: #f54949;
    margin: 10px 0 5px;
    font-size: 14px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;
}


/* Menu principale */

.fixed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    z-index: 9999;
}

.header-fix .fixed,
.header-fix.open .fixed,
.header-fix .filters,
.header-fix .order_select,
.filters {
    -webkit-transition: top .25s ease;
    -moz-transition: top .25s ease;
    -ms-transition: top .25s ease;
    -o-transition: top .25s ease;
    transition: top .25s ease;
}

.header-fix .filters {
    position: fixed;
    top: -40px;
    left: 0px;
    right: 0px;
    padding: 0;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.30);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.30);
}

.header-pre-fix .fixed {
    position: fixed;
    top: -52px;
}

.header-fix.open .fixed {
    position: fixed;
    top: 0px;
}

.header-fix.open .filters {
    top: 11px;
}

.header-fix .page {
    padding-top: 0px;
}

.header-fix .page-listing .page {
    padding-top: 82px;
}

.header-fix .order_select {
    top: 40px;
}

.header-fix.open .order_select {
    top: 92px;
}

.menuopen {
    position: fixed;
    top: 0px;
}

.menuopen .filters {
    position: absolute;
    top: 50px;
}


/**
 * codice per far scomparire e apparire il menu mobile
 */


/*
.header-fix .fixed {

	-webkit-transition: top .25s ease;
	-moz-transition: 	top .25s ease;
	-ms-transition: 	top .25s ease;
	-o-transition: 		top .25s ease;
	transition: 		top .25s ease;
	
}
.fixed { position: absolute; top:0; left:0; right:0px;  z-index: 9999; }
.header-pre-fix .fixed { position:fixed; top:-50px; }
.header-fix .fixed { position:fixed; top:-50px; }
.header-fix.open .fixed { position:fixed; top:0px; }
.menuopen { position:fixed; top:0px; }
.menuopen .filters { position: absolute; top:50px; }

.filters { 
	-webkit-transition: top .25s ease;
	-moz-transition: 	top .25s ease;
	-ms-transition: 	top .25s ease;
	-o-transition: 		top .25s ease;
	transition: 		top .25s ease;
}

.header-fix .filters { position:relative; top:0; 
	-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.30);
	-moz-box-shadow:0px 1px 5px rgba(0,0,0,0.30);
	box-shadow:0px 1px 5px rgba(0,0,0,0.30);
}

.header-fix.open .filters { position:static;  }
.header-fix #map_container,
.header-fix .order_select { margin:77px 0 0}
.header-fix.open #map_container,
.header-fix.open .order_select { margin:127px 0 0}
*/

.stop-scrolling {
    position: fixed;
    overflow-y: visible;
    height: 100%;
    background-color: #f0f0f0;
}

.fancybox-close {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
}

#show_pdf {
    position: fixed;
    top: 195px;
    right: 5px;
    width: 54px;
    height: 54px;
    z-index: 999999999;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.pdf {
    background-image: url(//static.info-alberghi.com/mobile/img/route.svg);
}

.map {
    background-image: url(//static.info-alberghi.com/mobile/img/map.svg);
}

.pdf_it {
    background-image: url(//static.info-alberghi.com/mobile/img/route.svg);
}

.map_it {
    background-image: url(//static.info-alberghi.com/mobile/img/map.svg);
}

.pdf_en {
    background-image: url(//static.info-alberghi.com/mobile/img/route-ing.svg);
}

.map_en {
    background-image: url(//static.info-alberghi.com/mobile/img/map-ing.svg);
}

.pdf_fr {
    background-image: url(//static.info-alberghi.com/mobile/img/route-fr.svg);
}

.map_fr {
    background-image: url(//static.info-alberghi.com/mobile/img/map-fr.svg);
}

.pdf_de {
    background-image: url(//static.info-alberghi.com/mobile/img/route-ted.svg);
}

.map_de {
    background-image: url(//static.info-alberghi.com/mobile/img/map-ted.svg);
}

#close {
    z-index: 999999999;
}

.fancybox-close,
.fancybox-nav,
.fancybox-nav span {
    cursor: pointer;
    z-index: 8040;
    position: absolute;
}

#fancybox-loading,
.fancybox-close,
.fancybox-next span,
.fancybox-prev span {
    background-image: url(//static.info-alberghi.com/mobile/img/cancel.svg);
    background-size: cover;
    /*background-color: #fff;*/
}

@media (min-width: 500px) {
    .order_select,
    #map_container {
        margin: 105px 0px 0px;
    }
    .header-fix #map_container,
    .header-fix .order_select {
        margin: 55px 0 0
    }
    .header-pre-fix .order_select,
    .header-pre-fix #map_container {
        margin: 55px 0 0;
    }
    .header-fix.open #map_container,
    .header-fix.open .order_select {
        margin: 105px 0 0
    }
}