	
	/**
	 * 404
	 */

	@import 'include/config';
	
	.warning404 { -webkit-border-radius: $raggio;-moz-border-radius: $raggio;border-radius: $raggio;  padding: $pad $pad*3; background: rgba(126, 182, 200, 0.15); }
	.warning404 h1,
	.warning404 .h1 {font-size: 20px;  color: $header; font-weight:normal; display: inline-block; line-height: 1em; vertical-align: middle; padding:0; max-width: 70%; }
	.warning404 .h1 { font-size: 18px; }
	.warning404 p { padding-left: 64px; }
	.warning404 img { line-height: 1em; vertical-align: middle; margin-right: calc($pad / 2); }