	/**
	 * Listing/Localita
     */
     @import 'include/config';
     @import "layout/loading";
     
    label { color: #F24A46; text-transform:uppercase; font-size:12px; }
    .buttons { position: fixed; bottom:0; right:0; left:0; padding:15px; background: #fff; }

    .filter-listing { padding:30px; }

    .filter-button {
        position: relative;
        padding: 5px 20px 5px 10px;
        border-radius: 3px;
        background: #fff url(//static.info-alberghi.com/images/okemailempty.png) calc(100% - 5px) center no-repeat;
        margin-bottom: 5px;
        border: 1px solid #ddd;
        text-transform: lowercase;
    }
    
    .filter-button::first-letter {
        text-transform: uppercase;
    }
    
    .filter-button.disabled {
        background: #f5f5f5;
    }
    
    .filter-button.selected {
        background: #F9FBE7 url(//static.info-alberghi.com/images/okemail.png) calc(100% - 5px) center no-repeat;
    }
