		
	/**
	 * Hotel disabilitato
	 */	

	@import 'include/config';
	@import "layout/box-offers";
	@import "layout/box";			
	
	.warningHD { -webkit-border-radius: $raggio;-moz-border-radius: $raggio;border-radius: $raggio;  padding: $pad $pad*3; background: rgba(126, 182, 200, 0.19); }
	.warningHD img { line-height: 1em; vertical-align: middle; margin-right: 15px;}
	.warningHD h1,
	.warningHD .h1 { font-size: 18px; color: $header; font-weight:normal; display: inline-block; line-height: 1em; vertical-align: middle; padding:0; max-width: 70%; }
	.warningHD .content { padding-left: 64px; }
	
	@media (min-width: 768px) and (max-width: 991px) { 	
		.box_title { font-size: 18px; }
		.rating { font-size: 14px; }
	}
	
	