
	@import 'include/above-bootstrap';
	@import 'include/buttons';
	@import '../../views_assets/scss/include/config';
	
	/**
	 * Generale
	 */
	
	html,
	body{ background: #faf9f9; color:#444; padding: 0px; margin: 0px; overflow-x: hidden; width:100%;  }
	.clearfix { clear: both; }

	section { padding:100px; }
	section.line { border-bottom: 1px solid #ddd; top: 100px;  }
	
	.inside-half { padding: 15px; }
	.inside { padding: 0 50px; }
	.inside-all { padding:35px; margin:30px 5px; background: rgba(#ffffff, 0.1); height:200px; }
	
	.button-filter,
	.button-filter li { margin:3px 0 0 0; list-style: none; display: inline-block; }
	.button-filter { padding:0; margin:0 15px 15px 0;  }
	.btn.selected { background: #00BB86; color: #fff; }
	
	#testimonials .button-filter { margin:0 50px; }
	
	
	/**
	 * Tabelle
	 */
	
	table { width:100%; border-collapse: collapse; margin:0; padding:0; }
	table thead th { border-bottom:1px solid #ddd; }
	table tfoot th { border-top:1px solid #ddd; }
	table th, table td { vertical-align: top; text-align: left; }
	table td { padding:7px; margin:0;  }
	table tr:nth-child(even) { background: #f1f1f1; }
	table td { border-bottom:1px solid #ddd;}
	// table td[data-city] { background: #faf9f9 !important}
	
	/**
	 * link
	 */
	
	a { text-decoration: none; }

	/** 
	 * tipografia
	 */

	body { font-family: 'Roboto', sans-serif, sans-serif; font-size: 16px;  line-height: 28px}
		strong { color:#000; }
	section h2 { font-size: 34px; font-weight: 300;  margin-top:0; color: #00BB86; line-height: 40px;}
		section h2 b { font-weight: 700; color: #04664a}
	ol { margin-bottom: 0; }
		

	
	/**
	 * header
	 */
	
	#brand { background: rgba(#222222, 0.85); display:block; position: absolute; top:0; left:0; right:0; z-index:100; }
	#brand .logo { padding:20px 0; text-align: center;}

	
	/**
	 * Menu menu-principale
	 */

	#menu-principale { position: absolute; top:74px; left:0; right:0; z-index:200; background: #00B880; text-align: center; border-bottom: 1px solid #fff; }
		.sticked #menu-principale { position: fixed; top:0;
			-webkit-box-shadow: 0px 1px 2px  rgba(0,0,0,0.3);
			box-shadow: 0px 1px 2px  rgba(0,0,0,0.3);
	}
		
	#menu-principale ul, #menu-principale li { list-style: none; padding:0; margin:0;  }
	#menu-principale ul { margin:0 auto;  text-align: center; }
	#menu-principale li { display: inline-block;  }
	#menu-principale li a { padding:10px; display: inline-block; }
	#menu-principale li a { color: #fff; }
		#menu-principale li a.reverse { background: #fff; color: #00B880; }
	#menu-principale li a:hover { background: rgba(#ffffff, 0.5); }
		#menu-principale li a.reverse:hover { background: rgba(#ffffff, 0.5); color: #fff; }
	
	#menu-button { position: absolute; top:18px; right:18px; padding:0; margin:0; z-index:200; font-size: 30px; color: #fff; background: none; border:none; outline:none; display:none; z-index: 250; }
	
	/** 
	 * Section immagine
	 */
	
	#hero { position: absolute; top:0; left:0; right:0; height: 680px; display: block; background: #000 url("//static.info-alberghi.com/greenbooking/img/greenbooking-rimini.jpg") center center no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
	#hero::after { position: absolute; top:0; left:0; right:0; bottom:0; content: " "; background: rgba(#000000,0.3); z-index:25; }
	#hero .container { position: relative; }
	#hero figure { position: absolute; top:180px; left:-60px; z-index: 50; }
	#hero .caption { position: absolute; top:335px; left:123px; z-index: 50; }
	#hero .subtitle { color: #fff; font-size: 20px; font-weight: 300; text-shadow: 0 1px 2px rgba(#000000,0.3) }
	#hero p { color: #fff; font-size: 16px; padding-bottom: 15px; text-shadow: 0 1px 2px rgba(#000000,0.3)}
	#hero .btn-red { display:none; }
	
	#hero #video-preentazione { 
		position: absolute; top:245px; right:0; z-index: 50; 
		-webkit-box-shadow: 1px 3px 10px  rgba(0,0,0,3);
		box-shadow: 1px 3px 10px  rgba(0,0,0,3);
	}
	
	/**
	 * Contatore
	 */
    
	#counter { text-align: center; color:#fff; padding:100px 0; background: #4DA7C3 url(//static.info-alberghi.com/greenbooking/img/bg-counter.jpg) top center no-repeat; }
	#counter h2 { color: #fff; }
	#counter span { font-size: 60px; display: block; padding:30px 0; font-family: 'Yanone Kaffeesatz', sans-serif; }
	
	/**
	 * Secion featured_on
	 */
	
	#about { margin-top: 680px; padding-top:100px; padding-bottom: 100px; background: transparent url(//static.info-alberghi.com/greenbooking/img/bg-about.jpg) bottom center no-repeat; }
	#about ol { margin:0; padding:0 20px; }
	
	
	/**
	 * patrocini
	 */
	
	#featured { background: #eee; margin:0; padding:100px 0; text-align: center;}
	#featured .patrocin { text-align: center; }
	#featured h4 { margin:0; padding:0 0 15px; }
			/*#featured h4 { margin:0; padding:0 0 15px; font-size: 20px; font-weight:300; color:#ffffff; text-shadow: 0 -1px 2px rgba(#aaaaaa, 0.8)}*/
	#featured .patrocin-logo { padding:20px; vertical-align: middle;}
	
	/**
	 * App features
	 */
	
	#app_features { background: #00B880; padding:50px; }
	#app_features .sector { text-align: center; padding:30px; color: #fff; font-size: 14px; }
	
	#app_features h3 { font-size: 28px; font-weight: 300; }
	 
	
	/**
	 * gallery
	 */
	
	 
	#gallery { text-align: center; }
	#gallery figure { width:35vw;  }
	#gallery figure img { width:100%; height:auto;}
	
	#gallery figure { margin:0 5px;  outline: none; }
	#gallery figcaption {text-align:left; padding:30px 30px 0; width:600px; font-size: 13px; line-height: 23px;}
	#gallery figcaption b { font-size: 18px; }
	
	#gallery .slick-arrow { 
		
		z-index:99; 
	    line-height: 0;
	    position: absolute;
	    top: 25px;
	    display: block;
	    width: 50px;
	    height: 50px;
	    padding: 0;
	    -webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	    transform: translate(0, -50%);
	    cursor: pointer;
	    border: none;
	    outline: none;
		-webkit-font-smoothing: antialiased;
		font-size: 30px; 
		color:#fff; 
		background: rgba(#000000, 0.5);
		
	}
	
	#gallery .slick-prev { 
		
		left:0px;  
		-webkit-border-radius: 0 0 10px 0;
		border-radius: 0 0 10px 0;
	}
	#gallery .slick-next { 
		right:0px; 

		-webkit-border-radius: 0 0 0 10px;
		border-radius: 0 0 0 10px;
	}
	
	/**
	 * testimonials
	 */
	
	#testimonials { text-align: center; }

	/**
	 * Mappa
	 */
	
	#gmap { height: 80vh; }
	#map { text-align: center;  padding: 0 150px;}
	#map .legend-item { display: inline-block; margin:0 15px 30px;  }
	#map .legend-item img { width:30px; height:auto; vertical-align: middle;}
	
	/**
	 * FAQ
	 */
	
	#faq h2 { text-align: center; }
	#faq strong { font-size: 18px; margin-top: 15px; font-size: 400; }
	#faq p { font-size: 14px; padding:7px 15px; border-left:1px solid #ddd;  background: #eee; }
	
	/**
	 * footer
	 */
	 
	#footer { 
		 background: #333;
    	 color: #fff;
    	 padding: 30px 0;
 	}
	#footer .right { text-align: right; }
	
	#footer a { color: #fff !important; text-decoration: underline; }
	#footer p { font-size: small; line-height: 24px; margin:0; }

	/**
	 * footeraisde
	 */
	
	#footeraside {
		background: #222;
    	padding: 30px 0;
		font-size: 14px; 
	}
	
	#footeraside { background: $scuro; padding: $pad 0; }
	#footeraside h4 { color:  $grigio-medio; text-transform: uppercase; margin:0 0 15px;  }
	#footeraside nav ul,
	#footeraside nav ul li { padding:0; margin:0; }
	#footeraside nav ul li { display: block; padding:0 0 2px; }

	#footeraside nav ul li a { color: $chiaro; }
	#footeraside nav ul li a:first-letter { text-transform: uppercase; }
	#footeraside nav ul li a:hover { color: $chiaro ; text-decoration: underline;  }
	#footeraside nav ul li small { color: $grigio; margin-right: $pad; display:block; line-height: 14px; text-decoration: none ;  }
	
	#footeraside nav ul li .social { -webkit-border-radius: $raggio;-moz-border-radius: $raggio;border-radius: $raggio; margin-right:calc($pad / 4); width:30px; height:30px; display: inline-block;  line-height: 30px; text-align: center; color: $chiaro; }
	
	#footeraside nav ul li .social.fb { background: $blu-facebook; }
	#footeraside nav ul li .social.tw { background: $azzurro-twitter; }
	#footeraside nav ul li .social.gp { background: $rosso-google; }
	#footeraside nav ul li .social.dn { background: $grigio; }	
	
	
/**
 * Media Query
 */

 @media screen and (max-width: 1460px) {
  
  	section { padding:100px 10px;}
	#map { padding:0 10px;}
	#gallery figcaption {text-align:left; padding:15px 15px 0; width:500px;  }
   
 }
 
  @media screen and (max-width: 1300px) {
	
	#gallery figcaption { padding:15px 15px 0; width:400px;   }
	  
  }
  
  @media screen and (max-width: 1200px) {
  	
	#hero { padding-top:200px; }
	#hero figure,
	#hero .caption { position: relative; top:auto; left:auto; right:auto;  }
	#hero .caption { left: 183px; top:-10px; width:600px; }
	#hero #video-preentazione { display:none; }
	#about { padding-bottom:150px;}
	#about .col-2-about { margin-top:50px; display: block; }
	#counter .inside-all { margin:5px; }
	#gallery figcaption { padding:30px 30px 0; width:600px;  }
	#hero .btn-red { display:inline; }
	
 }
 
  @media screen and (max-width: 1024px) {
	  
	  #hero {
		  padding-top: 160px;
	  }
	  
	  #menu-button { display: block; }
	  #menu-principale { display:none; top:0; left:0; right:0; bottom:0; position: fixed; background: rgba(#00B880, 0.9);  }
	  	body.menuOpened #menu-principale { display:block; }
		
	  #menu-principale ul { width:80vw; margin-top:15vw; }
	  #menu-principale li { display: block;}
	  #menu-principale li a { display: block; border-bottom:1px solid rgba(#ffffff,0.4); font-size: 20px; }
	  

	.container {
    	width: auto;
	}
	
	#hero .caption { width: auto; left: auto; padding:0 83px;  }
	#gallery figcaption { width:auto; }
	#app_features article:nth-child(6) { clear:both; }
	
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	td { 
		position: relative;
		padding-left: 50% !important; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	td:nth-of-type(1):before { content: "Comune"; }
	td:nth-of-type(2):before { content: "Location"; }
	td:nth-of-type(3):before { content: "Numero di alberi"; }
	td:nth-of-type(4):before { content: "Essenze"; }
	
	tr[data-state] { margin-top:50px; }
	
	tfoot { display: block; }
	tfoot th { text-align: center !important;  padding:15px; }
	
	#gallery .slick-prev {left:5px;}
	#gallery .slick-next {right:5px;  }

	
}

@media screen and (max-width: 768px) {
	
	#hero {
    	padding-top: 130px;
	}
	
	#hero .caption { padding: 0 30px; text-align: center;}
	
	.col-sm-12,
	.col-xs-12 { padding:0 15px; }
	#testimonials .button-filter { margin:15px; }
	

	
}

@media (max-width: 480px) {
	
	#hero img { width:100%; height:auto; }
	#hero a { display: block !important; }
	
	#about .inside { padding:0 15px; }
	
}


/**
 * Cookie Law
 */

#eucookielaw-container {
	 
	position: fixed; 
	top:0px;
	left:0px; 
	right:0px; 
	z-index: 10000;
	background: $scuro;
	color: $chiaro;
	
	-webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
	-moz-box-shadow: 	0px 10px 20px rgba(0,0,0,0.3);
	box-shadow: 		0px 10px 20px rgba(0,0,0,0.3);
	
}

.banner-agreement-buttons { margin:30px 0 30px 0; }
.eucookielaw-banner p { margin-bottom: 2px; }
.eucookielaw-banner { padding: $pad 0; }
.eucookielaw-banner a { margin-right: 10px; color: $chiaro; text-decoration: underline; }

@media (max-width: 768px) { 	

	.eucookielaw-banner { 
		padding: $pad $pad*2 ;
	}
	.eucookielaw-banner p { margin-bottom: 10px; }
	

}
