
	
	$font:    				"Roboto", sans-serif; 
	$color:					#444; 
	$color-hotel:			#333; 
	$font-size: 			14px;
	$font-size-hotel: 		15px;
	$font-size-plus-hotel: 	16px;
	$small:					85%; 
	$big:					115%;  
	$line-height: 			24px;
	$line-height-hotel: 	26px;
	$text-shadow:			1px 1px 5px rgba(0,0,0,0.3);	
	$pad: 					30px; // Spazi
	$raggio:				3px; // Angoli
	$header:				#006699;
	$chiaro: 				#ffffff;
	$grigio-chiaro: 		#eeeeee;
	$grigio-chiaro-odd: 	#dddddd;
	$grigio-medio:			rgba(255,255,255,0.7);
	$grigio-medio-chiaro: 	#aaaaaa;
	$grigio-medio-scuro: 	#333333;
	$grigio-scuro:			rgba(0,0,0,0.6);
	$grigio:				#666666;
	$scuro: 				#222222;
	$verde: 		 		#8CC152;
	$verde-chiaro: 	 		#CDE942;
	$verde-scuro:	 		#1B5E20;
	$verde-lime:			#9C27B0;

	$acqua: 		 		#26A69A;
	$acqua-chiaro: 	 		rgba(38, 166, 154, 0.1);
	$acqua-menu: 		 	rgba(38, 166, 154, 0.2);

	$cyano: 		 		#38A6E9;
	$cyano-chiaro:	 		rgba(228, 245, 252, .8);

	$cyano-medio:	 		#cce1e9;
	$blu: 			 		#1A5C87;
	
	$rosso: 		 		#F24A46;
	$rosso-chiaro:			rgba(242, 74, 70, 0.1);
	$rosso-menu:	 		rgba(242, 74, 70, 0.2);

	$viola:			 		#4A148C;
	$viola-chiaro:			rgba(74, 20, 140, 0.1);

	$fucsia: 		 		#EC407A;
	$giallo: 		 		#F1B000;
	$arancio:		 		#FF9326;
	$arancio-chiaro :		#FFECB3;
	$deep:			 		#FF7043;
	$marrone: 		 		#8D6E63;
	$hightlight:	 		rgba(255,255,255,0.3);
	$hightlight2:	 		rgba(255,255,255,0.45);
	$hightlight3:	 		rgba(255,255,255,0.1);
	$evidenziato: 	 		#f7f1c4;
	$bordi:					#dddddd; // border color;
	$shadow:				0px 1px 2px rgba(0,0,0,0.35);
	$blu-facebook: 			#466BAD;
	$azzurro-twitter: 		#33A4EC;
	$rosso-google: 			#D0433D;
	

	.clearfix { clear: both }

	