	  
	/**
     * Lastminute
	 */
	 
	.lastminute_listing .item-listing-content { width:100%; min-height: 218px; } 
	.lastminute_listing .price {color: $rosso;}
	.lastminute_listing .item-listing-box-offers { border:2px solid $rosso; }
	.lastminute_listing h3 { font-size: 18px; width: 90%; }
	.lastminute_listing .tag.offers { background: $rosso;  }
		
	 
	 
	
	
	
	