	  
	/**
     * Prenota prima
	 */
	 
	.offers_listing .item-listing-content { width: calc(100% - 5px); min-height: 218px; } 
	.offers_listing .price {color: $acqua;}
	.offers_listing .item-listing-box-offers { border:2px solid $acqua; }
	.offers_listing h3 { font-size: 18px; width:90%; }
		
	 
	 
	
	
	
	