	  
	/**
     * Prenota prima
	 */
	 
	.prenota_prima_listing .item-listing-content { width:100%; min-height: 218px } 
	.prenota_prima_listing .price {color: $viola;}
	.prenota_prima_listing .item-listing-box-offers { border:2px solid $viola; }

	.prenota_prima_listing th { text-align: left; }
	.prenota_prima_listing h3 { font-size: 18px; width:90%; }
	
	 
	 
	
	
	
	