	.no-margin-top-pulsantiera {
	    margin-top: 0 !important;
	    border-top: 1px solid rgba(0, 0, 0, 0.1);
	    padding: 15px 0;
	}
	/* -- Testo -- */
	
	#testohotel {
	    line-height: 1.7em;
	    padding: 15px;
	    background: #fff;
	}
	
	#testohotel h3 {
	    margin-top: 0;
	    margin-bottom: 15px;
	    display: block;
	    text-transform: uppercase;
	}
	
	#testohotel h4 {
	    margin-top: 15px;
	    margin-bottom: 0px;
	    text-transform: uppercase;
	}
	
	#testohotel h5 {
	    margin-top: 0;
	    margin-bottom: 5px;
	    border-bottom: 1px solid #eee;
	    padding-bottom: 5px;
	    font-size: 16px;
	    color: #666;
	    text-transform: lowercase;
	}
	
	#testohotel h5::first-letter {
	    text-transform: uppercase;
	}
	
	.testohotel.all {
	    height: auto;
	}
	
	.testohotel.all:after {
	    background: none;
	    display: none;
	}
	
	.readall {
	    position: relative;
	    z-index: 101;
	}
	/* -- punti di forza -- */
	
	#puntiforza {
	    padding: 15px;
	    border-top: 1px solid rgba(0, 0, 0, 0.1);
	    background: #fff;
	}
	
	#puntiforza h3 {
	    margin-top: 0;
	    margin-bottom: 15px;
	}
	
	#puntiforza ul,
	#puntiforza li {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    display: block;
	    padding-bottom: 4px;
	    text-transform: lowercase;
	}
	
	#puntiforza li {
	    padding: 3px 5px 10px 35px;
	    position: relative;
	}
	
	#puntiforza li i {
	    vertical-align: middle;
	    position: absolute;
	    top: 4px;
	    left: 0;
	    width: 24px;
	    height: auto;
	    color: #8CC152;
	}
	/* -- punti di interesse -- */
	/* -- Servizi gratuiti -- */
	
	#gratis {
	    padding: 15px;
	    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	    border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	
	#gratis h3 {
	    margin-top: 0;
	    margin-bottom: 15px;
	}
	
	#gratis ul,
	#gratis li {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    display: block;
	    padding-bottom: 4px;
	    text-transform: lowercase;
	}
	
	#gratis li {
	    padding: 3px 5px 10px 35px;
	    position: relative;
	}
	
	#gratis li i {
	    vertical-align: middle;
	    position: absolute;
	    top: 4px;
	    left: 0;
	    width: 24px;
	    height: auto;
	    color: #8CC152;
	}
	/* -- Servizi hotel -- */
	
	.servizihotel {
	    padding: 15px;
	    border-top: 1px solid rgba(0, 0, 0, 0.1);
	    background: #fff;
	}
	
	.servizihotel h3 {
	    text-transform: uppercase;
	    margin-top: 0;
	    margin-bottom: 15px;
	}
	
	.servizihotel ul,
	.servizihotel li {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    display: block;
	    padding-bottom: 4px;
	    text-transform: lowercase;
	}
	
	.servizihotel li {
	    padding: 3px 5px 10px 35px;
	    position: relative;
	}
	
	.servizihotel li i {
	    vertical-align: middle;
	    position: absolute;
	    top: 4px;
	    left: 0;
	    width: 24px;
	    height: auto;
	    color: #8CC152;
	}
	/* -- Orari -- */
	
	#infovarie {
	    line-height: 1.7em;
	    padding: 15px;
	    background: #fff;
	    border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	
	#infovarie h3 {
	    text-transform: uppercase;
	    margin-top: 0;
	    margin-bottom: 15px;
	}
	/* -- caparre -- */
	
	#caparre {
	    line-height: 1.7em;
	    padding: 15px;
	    background: #ECF3E5;
	    border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
	
	#caparre h3 {
	    text-transform: uppercase;
	    margin-top: 0;
	    margin-bottom: 15px;
	}

	#caparre .caparra p span.perido_caparra {
    font-weight: bold;
	}
	/* -- trattamenti -- */
	
	table.varie,
	table.varie td {
	    table-layout: fixed;
	    border: 1px solid #eee;
	    border-collapse: collapse;
	    width: 100%;
	    font-size: 12px;
	    line-height: 1.5em;
	}
	
	table.varie td {
	    padding: 5px;
	    margin: 0;
	    vertical-align: top;
	}
	
	.tagtrattamenti {
	    display: block;
	}

	p.box_altri_trattamenti {
		margin-top: -5px!important;
	}


	span.altri_trattamenti {
		font-weight: bold;
		text-decoration: underline;
		font-style: italic;
	}



	/* -- Footer -- */
	
	footer .widget {
	    background: #444;
	    margin: -30px 0px 15px 0px;
	    padding: 15px 15px 15px 15px;
	    border-bottom: 1px solid rgba(255, 255, 255, 0.5)
	}
	
	.footer-hotel {
	    text-align: center;
	    background: #444;
	    padding: 25px;
	    color: #eee;
	    font-size: 12px;
	    line-height: 18px;
	}
	
	.footer-hotel b {
	    font-size: 18px;
	    color: #fff;
	    margin-bottom: 10px;
	    display: inline-block;
	}
	
	.footer-hotel .rating {
	    position: relative;
	    top: -5px;
	    color: #F1B000;
	}
	
	@media (min-width: 450px) {
	    #socialbar .text span {
	        text-align: left;
	    }
	}

	