/* Box home */

#offers {
    margin: 2px 1px 1px 1px
}

#spot-project .smartlink {
    padding: 15px;
    position: relative;
    height: 180px;
    margin: 0px 2px 2px;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}

#spot-offer { padding-bottom: 15px;}
#spot-offer .smartlink {
    padding: 7px 15px 7px 15px; 
    float:left;
    width:50%;
}

#spot-offer .smartlink a {
    color: #38A6E9;
}

.header-line { text-align: center; position: relative; display: block; }
.header-line span { position: relative; z-index: 2; background: #ffffff; padding:0 7px; display: inline-block;}
.header-line:before { border-top:1px solid #ddd; content:" "; position: absolute; top:10px; left:0; right:0; height:1px;}

@media (min-width: 450px) {

	#spot-project .smartlink {
		height:220px;
    }

    #spot-offer .smartlink {
        width:33.33333%;
    }
    
}